.product-item {
  padding: 3.4rem 0; }
  .product-item .back-to-result a {
    padding-left: 1rem;
    color: #333 !important; }

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem; }
  @media screen and (max-width: 600px) {
    .details .details-action {
      margin-bottom: 5rem; } }
  .details-image {
    flex: 2 1 30rem;
    margin-right: 1rem; }
    @media screen and (max-width: 600px) {
      .details-image {
        margin-right: 0; } }
  .details-image img {
    max-width: 50rem;
    width: 100%; }
  .details-info {
    flex: 1 1 30rem; }
  .details-action {
    flex: 1 1 15rem;
    margin-left: 1rem; }
    @media screen and (max-width: 600px) {
      .details-action {
        margin-left: 0; } }
  .details-info ul,
  .details-action ul {
    list-style-type: none;
    padding: 0; }
  .details-info li,
  .details-action li {
    margin-bottom: 1rem; }
  .details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background: #f8f8f8;
    padding: 1rem; }
  .details-action ul li:last-child {
    display: flex;
    flex-direction: column; }

@media screen and (max-width: 600px) {
  .card-summary {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .card-summary--responsive {
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: center; }
    .card-summary--responsive p.card-text {
      margin-bottom: 0;
      text-align: left;
      width: 100%; } }
