$linkColor: rgba(255, 255, 255, 0.5);
$linkColorHover: rgba(255, 255, 255, 0.75);
$colorGray: #808080;
$colorDarkGray: #333;
$colorDarkGray2: #343a40;
$colorCCC: #ccc;
$colorC0: #c0c0c0;
$colorFC: #fcfcfc;
$colorF8: #f8f8f8;
