@import './Sass/_colors';
@import './Sass/mixins';

html {
  font-size: 72.5%; /* 16px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  margin: 0;
}

a {
  color: $linkColor;
  font-size: 1.4rem;
}
a:hover {
  color: $linkColorHover;
  text-decoration: none;
}

#root {
  height: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(46, 46, 46, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(36, 36, 36, 0.5);
}

.spiner {
  height: 7rem;
  width: 7rem;
}

.spinner-container {
  @include flexCenter($justify: true, $align: true);
}
