@import '../../Sass/_colors';
@import '../../Sass/mixins';

.register {
  min-height: calc(100vh - 4rem - 9vh);
  @include flexCenter;
  flex-direction: column;
  @media screen and (max-width: 600px) {
    padding: 5% 0;
  }

  &-form {
    border: 1px solid $colorDarkGray2 !important;
    padding-top: 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
    @media screen and (max-width: 400px) {
      margin-bottom: 5.5rem;
    }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      width: 70%;
      line-height: 3;
    }
    &--title {
      background: $colorDarkGray;
      width: 100%;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      line-height: 3rem;
      text-align: center;
      color: $colorCCC;
    }
  }
  input:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
  }
}

.borderRed {
  border: 1px solid red !important;
}
