.register {
  min-height: calc(100vh - 4rem - 9vh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media screen and (max-width: 600px) {
    .register {
      padding: 5% 0; } }
  .register-form {
    border: 1px solid #343a40 !important;
    padding-top: 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 40%; }
    @media screen and (max-width: 600px) {
      .register-form {
        width: 90%; } }
    @media screen and (max-width: 400px) {
      .register-form {
        margin-bottom: 5.5rem; } }
    @media screen and (min-width: 601px) and (max-width: 1024px) {
      .register-form {
        width: 70%;
        line-height: 3; } }
    .register-form--title {
      background: #333;
      width: 100%;
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      line-height: 3rem;
      text-align: center;
      color: #ccc; }
  .register input:focus {
    box-shadow: none;
    border: 1px solid #ced4da; }

.borderRed {
  border: 1px solid red !important; }
