@import '../../Sass/_colors';
@import '../../Sass/_mixins';

.home {
  @media screen and (max-width: 600px) {
    padding-top: 1.3rem;
  }
}

.container-wrapper {
  padding: 2rem 0;
  margin-bottom: 8rem;
  @media screen and (max-width: 600px) {
    margin-bottom: 2rem;
  }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    flex-basis: 50%;
    margin-bottom: 9rem;
  }
}

.product-card {
  flex-basis: 30%;
  // padding-top: 3.5rem;
  // padding-bottom: 2rem;
  // @include paddingVertical(13.5rem, 2rem);
  @media screen and (max-width: 600px) {
    flex-basis: 100%;
    // padding-left: 4rem;
    // padding-right: 4rem;
    @include paddingHorisontal(4rem, 4rem);
  }
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    flex-basis: 50%;
    // padding-top: 3.5rem;
    // padding-bottom: 2rem;
    @include paddingVertical(4rem, 4rem);
  }

  &--body {
    color: $colorDarkGray;
  }
}

.card-deck {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.card-deck .card {
  margin-top: 3.5rem;
  @media screen and (max-width: 600px) {
    margin-top: 2.6rem;
  }
}

.products-div {
  height: auto;
  flex-basis: 77.5%;
  margin-bottom: 8rem;
  @media screen and (max-width: 1000px) {
    flex-basis: 100%;
    margin-bottom: 0;
  }
  @media screen and (max-width: 600px) {
  }
}

.pagination a:focus {
  outline: none;
}

.paginate-bottom {
  margin-bottom: 4rem;
}

.pagination a {
  padding: 0.1rem;
}
.pagination li {
  color: $colorDarkGray;
  padding: 0.6rem;
}

.active-page {
  border: 1px solid $colorDarkGray;
}

.formGroup {
  position: relative;
  width: 30%;
  .inputForm {
    width: 100%;
  }
}

.form {
  justify-content: center;
}

.selectList {
  width: 5rem;
  text-align: center;
}

// .has-search {
//   margin-left: 1rem;
//   b
// }
